<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Sign Up page</title>
</head>
<body>
<ion-view title="Signup" id="page2" style="background-color:#486FC0;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form4" class="list ">
            <ion-list id="signup-list1" class=" ">
                <label class="item item-input " id="signup-input5" name="username">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input " id="signup-input6" name="password">
                    <input type="password" placeholder="Password">
                </label>
                <label class="item item-input " id="signup-input7" name="email">
                    <input type="email" placeholder="Email">
                </label>
            </ion-list>
            <button id="signup-button3" class=" button button-energized  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>
	
</body>
</html>